<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Administration CRUD</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href= # alt="">Artistes</a></li>
      <li><a href= # alt="">Bands</a></li>
      <li><a href= # alt="">Genres</a></li>
      <li><a href= # alt="">Movies</a></li>
      <li><a href= # alt="">Persons</a></li>
      <li><a href= # alt="">Posters</a></li>
      <li><a href= # alt="">Roles</a></li>
      <li><a href= # alt="">Songs</a></li>
      <li><a href= # alt="">Soundtracks</a></li>
      <li><a href= # alt="">Studios</a></li>
      <li><a href= # alt="">Trailers</a></li>
    </ul>
  </nav>

</body>
</html>